/* @import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Comfortaa:wght@400;600;700&family=Russo+One&display=swap"); */

@import "tailwindcss";

@theme {
  --font-h: var(--font-comfortaa), sans-serif;
  --font-text: var(--font-balsamiq-sans), sans-serif;
  --font-logo: var(--font-russo-one), sans-serif;

  --color-blue-1: hsl(201, 57%, 75%);
  --color-blue-2: hsl(207, 55%, 46%);
  --color-blue-3: hsl(209, 100%, 41%);
  --color-blue-4: hsl(212, 71%, 27%);

  --color-gray-1: hsl(0, 0%, 80%);
  --color-gray-2: hsl(202, 7%, 30%);
  --color-gray-3: hsl(0, 0%, 20%);
  --color-gray-4: hsl(180, 1%, 17%);
  --color-gray-5: hsl(180, 1%, 17%);
  --color-gray-6: hsl(0, 0%, 12%);

  --color-white-1: hsl(0, 0%, 96%);
  --color-orange-1: hsl(39, 100%, 55%);
}

@layer base {
  * {
    min-width: 0;
    /* color: #474e52; */

    /* Scrollbar */

    /* Works on Firefox */
    scrollbar-width: thin;
    scrollbar-color: hsl(0, 0%, 80%) hsl(0, 0%, 96%);

    /* Works on Chrome, Edge, and Safari */
    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-track {
      background: hsl(0, 0%, 80%);
    }

    &::-webkit-scrollbar-thumb {
      background-color: hsl(0, 0%, 96%);
      border-radius: 10px;
    }

    a {
      color: inherit;
      text-decoration: none;
    }

    body {
      font-family: var(--font-text);
    }

    table,
    th,
    td {
      border: 1px solid;
      border-collapse: collapse;
    }
  }
}
